@import '../../sass/conf/conf';

.has-success.has-feedback .ant-form-item-children-icon {
  color: $primary;
}

.ant-form-extra {
  color: $primary-disabled;
  font-size: 12px;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: $form-control-disabled;
}

.ant-form-item-label label::after {
  display: none;
}

.ant-form label {
  margin-right: 16px;
}

.ant-form-item-with-help {
  margin-bottom: 24px;
}

.input-tip {
  color: $primary-disabled;
  font-size: 12px;
  padding-top: 4px;
}